button{
  height: 50px;
  width: 50px;
}


.container{
  display: flex;
  align-items: center;
  background-color: rgb(101, 224, 255);
  justify-content: center;
  padding: 100px;
}

.semaforo{
  background-color: black;
  border: solid 2px lightslategray;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: min-content;
  padding: 10px;
  align-items: center;
}